#in-depth, #general-resources, #notable-figures, #digital-resources {
    margin: 0 10%;
}

h1 {
    font: 38rem stella nova;
    margin: 24rem 0 18rem 0;
    text-align: center;
}

.in-depth-child, .general-child {
    margin-top: 36rem;
}

.in-depth-child > p, .general-child > p {
    font: 24rem 'Steamflix Montserrat';
    color: rgb(66, 66, 66);
    margin: 0;
}

.in-depth-child li, .general-child li {
    font: 20rem 'Steamflix Montserrat';
    color: rgb(96, 96, 96);
}

h2 { /* Used for notable figures */
    font: 38rem stella nova;
    margin: 24rem 0 0 0;
}

a.guy-link {
    font: 28rem Arial;
    color: rgb(38, 0, 255);
    text-decoration: underline;
    margin-bottom: 24rem;
    transition: 0.33s;
}

a.guy-link:hover {
    color: orange;
}

.guy-info {
    display: grid;
    gap: 16rem;
    margin-top: 24rem;
    /*align-items: center;*/
}

.guy-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.eluid {
    grid-template-columns: 57% auto;
}

.roger {
    grid-template-columns: auto 57%;
}

.david {
    grid-template-columns: 57% auto;
}

.guy-summary {
    font: 24rem 'Steamflix Montserrat';
    color: rgb(67, 67, 67);
    text-align: left;
}

figure { margin: 0; }

figcaption { margin-top: 1rem; font: 14em Arial; color: rgb(33, 33, 33) }

#online-rss-grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 15em; margin-bottom: 30rem;}

.rss-col > button {
    font: 48rem Black;
    width: 100%;
    height: 70px;
}

.rss-col > button:hover {
    cursor: pointer;
}

.rss-desc {
    font: 28rem 'Steamflix Montserrat';
    margin: 0;
    color: rgb(41, 41, 41);
}

.rss-link {
    display: block;
    text-align: center;
    font: 28rem 'Steamflix Montserrat';
}

#btn-strava {
    background: url('../img/online/strava.png') no-repeat;
    background-size: cover;
    background-position: center;
}

#btn-rruning {
    background: url('../img/online/rruning.png');
    background-size: contain;
    background-position: center;
}

#btn-runnersworld {
    background: url('../img/online/runnersworld.png') no-repeat;
    background-size: cover;
    background-position: center;
}