#gallery-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 32rem;
    margin: 16rem;
}

img {
    width: 90%;
    height: 300px;
    border: 5px solid red;
}