#gallery-container {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    gap: 32rem;
    margin: 64rem;
}

#gallery-sum {
    font: 24rem Arial;
    margin: 5%;
}

img {
    max-width: 100%;
    max-height: 100%;
    border: 5px solid red;
}

h1 {
    font: 64rem Arial;
    text-align: center;
}