body {
    background-color: rgb(38, 30, 80);
}

#hero {
    position: fixed;
    display: none;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url("../img/hero_19200p.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
} 

#mission-container { display: flex; justify-content: space-between; }

#mission {
    display: flex;
    flex-direction: column;
    max-width: 46%;
    height: 100%;
    padding: 10rem 36rem 10rem 48rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgba(0, 0, 0, 0.75);
}

#mission-title {
    font: 48rem stella nova;
    color: rgb(242, 242, 242);
    margin: 0;
}

.mission-desc {
    font: 21rem 'Steamflix Montserrat';
    color: rgb(224, 224, 224);
    margin: 0;
}

#showcase-container {
    display: flex;
    flex-direction: column;
    margin-right: 16rem;
}

.showcase-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    margin-bottom: 5vh;
    padding: 0 15px;
    text-align: center;
}

.showcase-item-title {
    font: 36rem stella nova;
    color: rgb(118, 124, 255);
    margin: 0;
    padding-right: 30rem;
    padding-left: 30rem;
}

.showcase-media {
    margin-top: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px;
    border-radius: 25px;
    margin-bottom: 5px;
}

.showcase-desc {
    font: 24rem stella nova;
    color: rgb(0, 187, 255);
    text-decoration: underline;
    margin: 0;
    margin-bottom: 10rem;
}

.showcase-wottle { background-image: url('../img/showcase/wottle.png'); }

.showcase-nb { background-image: url('../img/showcase/1080.png'); }

.showcase-bigchill { background-image: url('../img/showcase/bigchill.png'); }