html {
    font-size: 6.25%;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

#img-wrapper {
    background-image: url("../img/logo2.png");
    background-size: cover;
    height:100%;
    /*flex: 1;*/
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8rem;
    background-color: rgb(218, 57, 57);
    color: rgb(237, 237, 237);
    font: bold 38rem stella nova;
}

#logo-word {
    font-family: 'Highlight Montana';
}

#navbar > p {
    margin: 0;
}