#navbar {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    background-color: crimson; 
    font: bold 34rem stella nova;
}

#nav-btn-container {
    display: flex;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 0 16rem 0 16rem;
    height: 100%;
    transition: 0.3s;
    cursor: pointer;
}

.nav-link:hover { background-color: orange; /* rgb(218, 57, 57); */ }

.nav-selected { background-color: orange; }

#logo-word-div {
    font-family: 'Highlight Montana';
    color: rgb(237, 237, 237);
    padding-left: 12rem;
    transition: 0.2s;
    margin-bottom: 8rem;
}

#logo-word-div > a {
    transition: 0.2s;
}

#logo-word-div > a:hover {
    cursor: pointer;
    color: orange;
}

a, a:link, a:visited {
    color: white;
    text-decoration: none;
    color: rgb(237, 237, 237);
}

#img-wrapper {
    background-image: url("../img/logo2.png");
    background-size: cover;
    height:100%;
    /*flex: 1;*/
}


