#navbar {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    background-color: crimson; 
    font: bold 34rem stella nova;
    user-select: none;
}

#nav-btn-container {
    display: flex;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 0 16rem 0 16rem;
    height: 100%;
    transition: 0.3s;
}

.nav-link:hover { background-color: orange; /* rgb(218, 57, 57); */ }

.nav-link > a:hover { cursor: pointer; }

.nav-selected { background-color: orange; }

#logo-word-div, #logo-word-div-home, #logo-word-div > a:link, #logo-word-div > a:visited {
    font-family: 'Highlight Montana';
    color: rgb(237, 237, 237);
    padding-left: 12rem;
    transition: 0.2s;
    margin-bottom: 8rem;
}

#logo-word-div > a {
    transition: 0.2s;
}

#logo-word-div > a:hover {
    cursor: pointer;
    color: orange;
}

.home-hover.nav-link > a:hover, #logo-word-div-home > a:hover { 
    color: black; 
    transition: 0.2s; 
} /* override nav.css */

.nav-link a, .nav-link a:link, .nav-link a:visited {
    text-decoration: none;
    color: rgb(237, 237, 237);
}

#img-wrapper {
    flex: 1;
    height: auto;
    width: 100%; 
    margin-left: 12rem;
    /*background-image: url("../img/slow_man.gif");*/
    background-image: url("../favicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 6px; /* hack to shrink the image */
    /*margin-bottom: 15px; for gif */
}

.home-hover:hover { background-color: transparent; } /* override nav.css */