#body-content {
    display: flex;
    justify-content: center;
}

#life-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

h1 {
    font: 38rem stella nova;
}

h2 {
    font: 28rem stella nova;
    text-align: center;
}

h3 {
    font: 24rem stella nova;
    text-align: center;
    margin: 0;
    color: black;
    margin-top: 2.5em;
}

span {
    font: 24rem stella nova;
    color: rgb(44, 44, 44);
    text-align: left;
}

#life-row {
    display: flex;
    gap: 15px;
}

#life-row > img {
   max-width: 57%; /* lucky number :) */
   height: auto;
}